apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:         
  rhtap/gitops: ldj6xbuti-python 
  janus-idp.io/tekton: ldj6xbuti-python
  backstage.io/kubernetes-id: ldj6xbuti-python
  backstage.io/kubernetes-namespace: rhtap-app 
  app.kubernetes.io/part-of: ldj6xbuti-python
resources:
  - ci-tekton.yaml
  - application-dev.yaml
  - application-stage.yaml
  - application-prod.yaml